<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.eventtracker.model.Party" />
        <mapping class="com.eventtracker.model.Event" />
        <mapping class="com.eventtracker.model.User" />
        <mapping class="com.eventtracker.model.UserParty" />
    </session-factory>
</hibernate-configuration>